@import './tailwind.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, #app-container {
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

@layer base {
    a {
        @apply text-blue-500;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }
}
