@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../../../.flowbite-react/class-list.json';

@source '../../../app/views/**/*.{html,html.erb,erb}';
@source '../../app/views/**/*.{html,html.erb,erb}';
@source '../../../app/helpers/**/*.rb';
@source '../../../app/frontend/**/*.{vue,js,ts,jsx,tsx}';

@source '../../../app/**/*.{html,html.erb,erb}'
@source '../../app/**/*.{html,html.erb,erb}'

@plugin '@tailwindcss/forms';

/*@theme {*/
/*    --color-scheme1: #275362;*/
/*    --color-scheme2: #407a61;*/
/*    --color-scheme3: #abbd8c;*/
/*    --color-scheme4: #ece2dd;*/
/*    --color-scheme5: #f8f1f4;*/
/*}*/

@theme {
        --color-scheme1: #BF4F4E;
        --color-scheme2: #54837e;
        --color-scheme3: #D19FCE;
        --color-scheme4: #D6D2E3;
        --color-scheme5: #E186A7;
}