<ul>
  <li><%= link_to "Novel Reader", novels_path, class: "text-blue-500" %></li>
  <li><%= link_to "Texthooker", texthooker_index_path, class: "text-blue-500" %></li>
  <li><%= link_to "Settings", settings_path, class: "text-blue-500" %></li>
</ul>