<div id="<%= dom_id readable_text %>" class="flex flex-col gap-[15px] m-[20px]">
  <div>
    <h3>Name:</h3>
    <%= readable_text.name %>
  </div>

  <div>
    <h3>Language:</h3>
    <%= readable_text.language %>
  </div>

  <div>
    <h3>Content:</h3>
    <p class="whitespace-pre-wrap"><%= readable_text.content %></p>
  </div>
</div>
