<div id="<%= dom_id readable_text %>">
  <p>
    <strong>Name:</strong>
    <%= readable_text.name %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= readable_text.language %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= readable_text.content %>
  </p>

</div>
