<div id="<%= dom_id text %>">
  <p>
    <strong>Name:</strong>
    <%= text.name %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= text.language %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= text.content %>
  </p>

</div>
